<link rel='stylesheet' href='/stylesheets/menu.css' />
<nav class="flex_line">
    <h1>Vinas Arnaud</h1>
    <button onclick="location.href='/cv'"><h4 >cv</h4> </button>
    <button onclick="location.href='/pandesim'"><h4 >pandesim</h4> </button>
    <button onclick="location.href='/cv'"><h4 >another</h4> </button>
</nav>