<link rel='stylesheet' href='/stylesheets/menu.css' />
<nav class="flex_line">
    <div class="centre"><h1 class="nom">Vinas&nbsp</h1> <h1 class="prenom">Arnaud</h1></div>
    <button onclick="location.href='/cv'"><h2 >CV</h2> </button>
    <button onclick="location.href='/pandesim'"><h2 >PANDESIM</h2> </button>
    <button onclick="location.href='https:\/\/github.com/avinas-42?tab=repositories'"><h2 >GITHUB</h2> </button>
    <button onclick="location.href='./cv-vinas-arnaud-2021.pdf'"><h2 >CV EN PDF</h2> </button>

    
</nav>