<link rel='stylesheet' href='/stylesheets/menu.css' />
<nav class="flex_line">
    <h1>Vinas Arnaud</h1>
    <button onclick="location.href='/cv'"><h3 >cv</h3> </button>
    <button onclick="location.href='/pandesim'"><h3 >pandesim</h3> </button>
    <button onclick="location.href='/cv'"><h3 >another</h3> </button>
</nav>