.centre
{
    margin-top: -26px;
    margin-bottom: -26px;
}
.prenom
{
    font: 40px "Lucida Grande", Helvetica, Arial, sans-serif;
    float: left;
    color: #615c99
}
.nom
{
    font: 40px "Lucida Grande", Helvetica, Arial, sans-serif;
    float: left;
    color: white;
}
h2
{
    font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: white;
}
.flex_line
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #95b3c7;
}
button {
    background-color: #95b3c7;
    min-width: 200px;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
button:hover {
    background-color: #a5d9dc;
}
