nav
{
    color: #765ba1


}
h3
{
    color: white;
}
.flex_line
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #95b3c7;
}
button {
    background-color: #95b3c7;
    min-width: 150px;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}