.content
{
    display: flex;
}
.simu
{
    border: solid;
}
.ordo
{
    height:770px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align-last: right;
}
.graph
{
    border: solid; width: 800px; height: 770px; overflow-x: scroll;
}