input 
{
    margin-top: 11px;
    height: 25px;
}
.content
{
    display: flex;
}
.simu
{
    border: solid;
}
.ordo
{
    height:770px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align-last: right;
}
.graph
{
    border: solid; width: 800px; height: 770px; overflow-x: scroll;
}
.line
{
    height: 50px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.square
{
    margin-top: 20px;
    height: 8px;
    width: 8px;
}
.legend
{
    text-align: center;
}

.blue
{
    background-color: blue;
}
.red
{
    background-color: red;
}
.green
{
    background-color: #00ff00;
}
.linedraw
{
    margin-top: 24px;
    height: 2px;
    width: 15px;
}